<%- include('../partials/boilerplateHead') %>
<title>Show One Player</title>
</head>
<body>
    <h1>Here is the Player</h1>
    <div>
            <h4>Player Id: <%= players.id %></h4>
            <h4>Player Name: <%= players.name %></h4>
            <h4>Player Team: <%= players.team %></h4>          
    </div>
    <div>
        <a href="/players/<%= players.id%>/edit">Edit Player</a>
    </div>
<%- include('../partials/deleteButton', {id: players.id}) %>
<%- include('../partials/boilerplateFoot') %>