<%- include('../partials/boilerplateHead') %>
<title>Show All Players</title>
</head>
<body>
    <h1>Roster-Roll</h1>
    <p>Lite</p>
    <h2>Here are all the players</h2>
    <div>
        <% players.forEach((players) => { %>
            <h5 class="playerId"> Id: <%= players.id %></h5> 
            <h5 class="playerName">Name: <%= players.name %></h5> 
            <h5 class="playerTeam">Team: <%= players.team %></h5>
        <% }) %>
    </div>
    <a href="/players/new">Add New</a>
<%- include('../partials/boilerplateFoot') %>