<%- include('../partials/boilerplateHead') %>
<title>Show One Game</title>
</head>
<body>
    <h1>Here is the game</h1>
    <div>
            <h4>Game Id: <%= games.id %></h4>
            <h4> Game Date: <%= games.gdate %></h4>
            <h4> Game Time: <%= games.gtime %></h4>
            <h4> Home Game : <%= games.home %></h4>
            <h4> Team : <%= games.team %></h4>            
    </div>
<%- include('../partials/boilerplateFoot') %>